<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="<%= @context[:description] || 'Default description' %>" />
    <link rel="shortcut icon" href="/mustache.ico" type="mage/vnd.microsoft.icon"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.rotate.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <title>
    <% if @path == 'index' %>
     The Writer Moustache
    <% elsif @path.split('/').compact.length == 4 %>
      <%= title %> - The Writer Moustache
    <% else %>
      <%= @path.capitalize.gsub(/[-]/, ' ') %> - The Writer Moustache
    <% end %>
  </title>
  </head>
  <body>
    <div class="header">
      <img class="header-mustache" data-angle="0" src="/images/mustachet.png" height="33" width="120">
      <h1><a href="/">The Writer Moustache</a></h1>
      <img class="header-mustache" data-angle="0" src="/images/mustachet.png" height="33" width="120">
    </div>

    <section id="main">
      <%= yield %>
    </section>

    <footer>

    </footer>
  </body>
</html>

